 *{
    font-family: "Cairo", sans-serif;
 }
 
 .page{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to right, #395BC7
    100% , #243996
    100%);
    width: 100%;
    height: 100vh;
    position: relative;
 }
 @media(max-width:991px){
    .page{
         flex-direction: column;
     }
 }

 .user{
    height: 100%;
    background: #FFF;
     width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0%;
 }
 @media(max-width:1200px){
    .user{
        position: absolute;
        left: 50%;
        transform: translate(-50%, 50%);
        width: 100%;
        height: 0%;
     }
     .form{
        /* display: block; */
        background-color: white;
        padding: 5rem;
        border-radius: 10px;
     }
 }
 @media(max-width:991px){
    .form{
        /* display: block; */
        background-color: white;
        padding: 5rem;
        border-radius: 10px;
     }
 }

 .form{
    max-width: 100%;
    flex-basis: 50%;
 }

 
 .form input{
    display: block;
    width: 90%;
    background: #F5F9FF;
    border: none;
    padding: 1rem;
    caret-color: #243996;
 }
 @media(max-width:991px){
    .form input{
        width: 100%;
        margin-right: 20rem;
        padding: 10px;
     }
 }
 .form input:focus{
    outline: none;
     
 }
 .form label{
    text-align: right;
    margin-right: 15px;
    color: #243996;
    font-size: 25px;
    font-weight: 400;
    display: flex;
    justify-content: right;
    text-wrap: nowrap;
    border-radius: 5px;
     
 }
 @media(max-width:1200px){
    .form label{
       
        justify-content: center;
     }
 }
 @media(max-width:991px){
    .form label{
        /* margin-right: -45px; */
        justify-content: center;
     }
 }

 .form input[type="submit"]{
    margin: 2rem auto;
    width: 50%;
    color: white;
    background-color: #243996;
    font-size: 25px;
    font-weight: 600;
    padding: 10px;
    text-align: center;
    transition: ease-in-out 0.3s;
 }
 .form input[type="submit"]:hover{
    background-color: #395BC7;
 }
 
 .page img{
    position: absolute;
    left: 0%;
   max-width: 100%;
   height: 100%;
 }

  





